/* 
    BLUE: #3d85e1
    HOVERABLES: rgb(255, 230, 67);
*/

.gui-window {
    position: absolute;
    border: 2px solid white;
    background-color: #16171bc7;
    padding: 5px;

    border-radius: 1px;
    border-width: 1px;

    /* start hidden */
    display: none;

    font-family: basis33;
    user-select: none;

}

.gui-header {
    display: flex;
    background-color: #3d85e1;
    height: 20px;
    font-size: 10px;
    color: white;
    justify-content: space-between;
    align-items: center;
    cursor: move;
    font-family: QuinqueFive;
    text-align: center;
}

.gui-header-close-button {
    margin-left: auto;
    cursor: pointer;
    color: white;
    font-size: 14px;
}

.gui-header-close-button:hover {
    color: rgb(255, 230, 67);
}

.gui-header-reset-button {
    cursor: pointer;
    color: white;
    font-size: 8px;
    margin-left: auto;
    margin-right: 0px;
}

.gui-header-reset-button:hover {
    color: rgb(255, 230, 67);
}

.gui-label {
    margin-top: 5px;
    margin-bottom: 2px;
    color: #ffffff;
    font-size: 1.1rem;
    margin-left: 3px;
}

.gui-label p, .gui-grid-label p {
    margin-top: 3px;
    margin-bottom: 3px;
}

.gui-grid-label {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 3px;
    color: #ffffff;
    font-size: 1.1rem;
    align-items: flex-start;
}

.gui-primary-header {
    color: #ffef62;
    font-weight: bold;
    margin-bottom: 10px;
    grid-column: span 2;
    text-align: center;
}

.gui-primary-header a {
    color: #4f79db;
}

.gui-primary-header a:hover {
    color: #95b5ff;
}

.gui-secondary-header {
    color: #8cc972;
    font-weight: bold;
    margin-bottom: 10px;
    grid-column: span 2;
}

.gui-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
    align-self: start;
}

.gui-split-label-left {
    text-align: left;
}

.gui-split-label-right {
    text-align: left;
    color: #ffffff80;
}

.top-left-label {
    position: absolute;
    font-family: QuinqueFive;
    font-size: 10px;
    color: #fff;

    margin-left: 3px;
    margin-top: 3px;
}

.gui-checkbox-label {
    appearance: none;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #ffffff;
}

.gui-checkbox-label input {
    appearance: none;
    margin-right: 8px;
    width: 14px;
    height: 14px;
    background-color: #21324e;
    border: 1px solid #ffffff;
    cursor: pointer;
    user-select: none;
}

input[type="checkbox"]:checked {
    background-color: #3d85e1;
}

.gui-slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #2d4b75; */
    /* padding: 5px; */
    border-radius: 3px;
    margin-bottom: 5px;
    opacity: 1;
    /* Fully opaque */
}

.gui-slider-label {
    color: #fff;
    font-size: 15px;
}

.gui-slider {
    appearance: none;
    margin-right: 5px;
    width: 100%;
    height: 15px;
    /* background: #1d1d1f; */
    background: #21324e;
    outline: none;
    opacity: 1;
}

.gui-slider:hover {
    /* background-color: #35373b; */
    background-color: #314b75;
}

.gui-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 12px;
    /* background-color: #ffffff; */
    background-color: #3d85e1;
    border-radius: 0%;
    cursor: pointer;
}